.nosotros-titulo,
.productos-tituto,
.registro-titulo,
.contacto-titulo {
    width: 100%;
    text-align: center;
    font-size: 38px;
    font-weight: 600;
    margin: 50px auto;
    color: $colorA;

    span {
        color: $colorD;
    }
}

.nosotros-container {
    display: flex;
    align-items: center;
    width: 90%;
    height: 450px;
    margin: auto;
    .nosotros-img {
        width: 50%;
        height: 100%;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 5px 0 0 5px;
        }
    }
    .nosotros-text {
        width: 50%;
        height: 100%;
        padding: 20px 30px;
        background-color: $colorC;
        border-radius: 0 5px 5px 0;
        overflow: hidden;

        h5 {
            font-size: 24px;
            font-weight: 600;
            text-transform: uppercase;
        }

        p {
            font-size: 17px;
            color: $colorB;
            font-weight: 400;
            text-align: left;
            line-height: 26px;
        }
    }
}


/* PRODUCTOS */

.productos {
    margin: 20px;
    width: 275px;
    height: 350px;
    display: inline-block;
    box-shadow: 0px 1px 15px 0 $colorD;
    background-color: $colorB;
    text-align: center;

    .productos__img {
        height: 50%;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;

        }
    }

    .productos__text {
        padding: 5px;
        height: 50%;

        h4 {
            font-size: 21px;
            padding: 5px;
            font-weight: 600;
            text-align: center;
        }

        p {
            font-size: 17px;
            font-weight: 600;

            span {
                color: $colorA;
                font-size: 18px;
            }
        }

        .boton {
            padding: 5px 15px;
            color: #fff;
            background-color: $colorA;
            border: 2px solid $colorA;
            border-radius: 4px;
            margin: 5px;
            transition-duration: 0.3s;

            &:hover {
                background-color: #fff;
                color: $colorA;
                border: 2px solid $colorA;
            }
        }

    }
}
.boton__filtros {
    padding: 5px 15px;
    color: $colorB;
    background-color: $colorC;
    border: 2px solid $colorC;
    border-radius: 4px;
    font-weight: 600;
    margin: 5px;
    &:hover {
        background-color: $colorB;
        color: $colorA;
        border: 2px solid $colorC;
    }
}

/* Formulario de contacto */
.contacto {
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $colorA;

    .contact-redes {
        padding: 15px;
        text-align: center;

        .contact-redes-img {
            width: 100%;
            height: 150px;
            margin: 50px auto;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .contact-redes-icons {
            margin: 25px auto;
            color: $colorB;

            h4 {
                font-size: 24px;
            }

            span {
                font-size: 28px;
                padding: 5px 15px;
            }
        }
    }

    .contact-form {
        width: 500px;
        padding: 50px;
        text-align: center;

        h4 {
            text-align: center;
            font-size: 34px;
            color: $colorB;
            font-weight: 600;
        }

        .contact-container {
            position: relative;
            width: 400px;
            margin: 25px auto;

            input {
                width: 100%;
                padding: 10px;
                border: 2px solid $colorC;
                background-color: $colorA;
                outline: none;
                border-radius: 4px;
                color: $colorB;
                font-size: 16px;

                &:valid~label,
                &:focus~label {
                    color: $colorD;
                    transform: translateX(10px) translateY(-7px);
                    padding: 0 10px;
                    font-size: 12px;
                    background-color: $colorA;
                    border-right: 2px solid $colorD;
                    border-left: 2px solid $colorD;
                    letter-spacing: 2px;
                }
            }

            label {
                position: absolute;
                left: 0;
                padding: 10px;
                pointer-events: none;
                font-size: 16px;
                color: $colorC;
                transition-duration: .5s;
            }

            textarea {
                width: 100%;
                height: 100px;
                padding: 10px;
                border: 2px solid $colorC;
                background-color: $colorA;
                outline: none;
                border-radius: 4px;
                color: $colorB;
                font-size: 16px;
                resize: none;

                &::placeholder {
                    color: $colorC;
                }
            }
        }

        .form-boton {
            border: none;
            padding: 5px 15px;
            background-color: $colorA;
            border: 1px solid $colorD;
            color: $colorD;
            font-size: 18px;
            font-weight: 600;
            width: 50%;
            border-radius: 4px;
            transition-duration: .3s;

            &:hover {
                background-color: $colorD;
                color: $colorA;
            }
        }
    }
}

/* Registro de productos */
.registro__productos {
    display: flex;
    justify-content: space-between;
    .container {
        width: 70%;
        margin: 30px 20px;
        padding: 25px;
        background-color: $colorC;
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        .container__producto,
        .container__id,
        .container__precio,
        .container__cantidad,
        .container__total {
            text-align: center;
            ul {
                list-style: none;
                li {
                    font-weight: 600;
                    border: none;
                    color: #000;
                    padding: 8px 0;
                    border-bottom: 4px solid $colorB;
                    font-size: 17px;
                }
            }
            h4 {
                margin: 10px;
                border-bottom: 4px solid $colorB;
                font-size: 21px;
                color: $colorB;
            }
        }
        .boton-cancelar {
            border: none;
            background-color: transparent;
            position: absolute;
            right: 0px;
            top: 0px;
            i {
                color: $colorB;
                padding: 10px 20px;
                font-size: 24px;

                &:hover {
                    color: $colorD;
                }
            }
        }

    }

    .inicio-compra {
        width: 30%;
        height: max-content;
        margin: 30px 20px;
        padding: 15px 0;
        background: linear-gradient(90deg, rgba(0, 147, 147, 1) 0%, rgba(0, 224, 198, 1) 100%);
        color: $colorB;
        text-align: center;

        h3 {
            width: 100%;
            padding: 5px;
            font-size: 28px;
            font-weight: 600;
        }

        h5 {
            width: 100%;
            font-size: 22px;
            padding: 10px 15px;
            text-align: left;
        }

        .inicio-boton__comprar {
            padding: 4px 14px;
            margin: 15px auto;
            border: 2px solid $colorA;
            background-color: $colorA;
            border-radius: 4px;
            font-size: 17px;
            font-weight: 600;
            color: $colorB;
            transition-duration: .2s;

            &:hover {
                color: #000;
                background-color: transparent;
            }
        }

    }

}



/* FORMULARIO DE COMPRA */

.compra-registro {
    width: 80%;
    display: none;
    margin: 50px auto;
    padding: 30px 15px;
    background-color: $colorC;
    position: relative;
    h3 {
        font-size: 28px;
        font-weight: 600;
        color: $colorB;
        text-align: center;
    }
    .form-compra {
        padding: 15px;
        .form-compra__container {
            margin: 10px auto;
            display: flex;
            .input__container {
                width: 50%;
                text-align: center;
                input {
                    width: 90%;
                    padding: 8px;
                    background-color: $colorC;
                    border-radius: 4px;
                    outline: none;
                    border: 2px solid $colorA;
                    color: $colorB;
                    font-size: 17px;
                    font-weight: 500;
                    &::placeholder {
                        color: #0008;
                        font-size: 18px;
                    }
                }
                .input-boton__compra {
                    background-color: $colorC;
                    width: 50%;
                    border: 3px solid $colorD;
                    border-radius: 0;
                    color: #000;
                    transition-duration: .2s;
                    &:hover {
                        background-color: $colorD;
                    }
                }
            }
        }
    }

    .boton-form__cancelar {
        border: none;
        background-color: transparent;
        position: absolute;
        right: 0px;
        top: 0px;
        i {
            color: $colorB;
            padding: 10px 20px;
            font-size: 24px;
            &:hover {
                color: $colorD;
            }
        }
    }
}

.registro__invisible {
    display: none;
}

.registro__visible {
    display: block;
}