* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* COLORES */
body {
  padding: 60px 0px 0px 0px;
}

.navegacion {
  height: 60px;
  width: 100%;
  margin: auto;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 15;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #009393;
}

.navegacion .nav-logo {
  margin: auto;
}

.navegacion .nav-logo a {
  text-decoration: none;
}

.navegacion .nav-logo a img {
  height: 60px;
  width: 150px;
}

.navegacion .enlaces {
  list-style: none;
  margin: auto;
  text-align: center;
}

.navegacion .enlaces li {
  display: inline-block;
  margin: 0 15px;
  padding: 5px 10px;
  position: relative;
}

.navegacion .enlaces li a {
  text-decoration: none;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.navegacion .enlaces li a:hover {
  color: #00e0c6;
}

.navegacion .enlaces li .contador-productos {
  position: absolute;
  top: -2px;
  right: -2px;
  padding: 1.5px 6px;
  border-radius: 50%;
  background-color: #ffffff;
  font-size: 11px;
  font-weight: 600;
  color: #ffffff;
  background-color: #016170;
}

.navegacion .nav-toggle {
  color: #ffffff;
  background-color: transparent;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  line-height: 60px;
  display: none;
}

.encabezado {
  width: 100%;
  background-color: #009393;
}

.encabezado img {
  width: 100%;
  height: 100%;
}

@media (max-width: 992px) {
  .navegacion {
    height: 60px;
    position: fixed;
    width: 100%;
    z-index: 10;
  }
  .navegacion .nav-logo {
    margin: 0 15px;
  }
  .navegacion .nav-logo a img {
    height: 50px;
    width: 100px;
  }
  .navegacion .enlaces {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    background-color: #009393;
    position: fixed;
    left: 0;
    top: 60px;
    width: 100%;
    padding: 20px 0;
    height: calc(100% - 60px);
    overflow-y: auto;
    left: 100%;
    -webkit-transition-duration: left .3s;
            transition-duration: left .3s;
  }
  .navegacion .enlaces li {
    margin: 10px;
  }
  .navegacion .enlaces li a {
    font-weight: 600;
    border: none;
    border-bottom: 2px solid #ffffff;
    border-radius: 0px;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
  }
  .navegacion .enlaces li a:hover {
    color: #00e0c6;
    background-color: none;
    border: none;
    border-bottom: 2px solid #00e0c6;
  }
  .navegacion .nav-toggle {
    display: block;
  }
  .navegacion .nav-menu_visible {
    left: 0;
  }
}

.nosotros-titulo, .productos-tituto, .registro-titulo, .contacto-titulo {
  width: 100%;
  text-align: center;
  font-size: 38px;
  font-weight: 600;
  margin: 50px auto;
  color: #016170;
}

.nosotros-titulo span, .productos-tituto span, .registro-titulo span, .contacto-titulo span {
  color: #00e0c6;
}

.nosotros-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  height: 450px;
  margin: auto;
}

.nosotros-container .nosotros-img {
  width: 50%;
  height: 100%;
}

.nosotros-container .nosotros-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px 0 0 5px;
}

.nosotros-container .nosotros-text {
  width: 50%;
  height: 100%;
  padding: 30px;
  background-color: #009393;
  border-radius: 0 5px 5px 0;
  overflow: hidden;
}

.nosotros-container .nosotros-text h5 {
  font-size: 22px;
  font-weight: 600;
}

.nosotros-container .nosotros-text p {
  font-size: 16px;
  color: #ffffff;
  text-align: justify;
}

/* PRODUCTOS */
.productos {
  margin: 20px;
  width: 275px;
  height: 350px;
  display: inline-block;
  -webkit-box-shadow: 0px 1px 15px 0 #00e0c6;
          box-shadow: 0px 1px 15px 0 #00e0c6;
  background-color: #ffffff;
  text-align: center;
}

.productos .productos__img {
  height: 50%;
}

.productos .productos__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.productos .productos__text {
  padding: 5px;
  height: 50%;
}

.productos .productos__text h4 {
  font-size: 21px;
  padding: 5px;
  font-weight: 600;
  text-align: center;
}

.productos .productos__text p {
  font-size: 17px;
  font-weight: 600;
}

.productos .productos__text p span {
  color: #016170;
  font-size: 18px;
}

.productos .productos__text .boton {
  padding: 5px 15px;
  color: #fff;
  background-color: #016170;
  border: 2px solid #016170;
  border-radius: 4px;
  margin: 5px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.productos .productos__text .boton:hover {
  background-color: #fff;
  color: #016170;
  border: 2px solid #016170;
}

/* Formulario de contacto */
.contacto {
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #016170;
}

.contacto .contact-redes {
  padding: 15px;
  text-align: center;
}

.contacto .contact-redes .contact-redes-img {
  width: 100%;
  height: 150px;
  margin: 50px auto;
}

.contacto .contact-redes .contact-redes-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contacto .contact-redes .contact-redes-icons {
  margin: 25px auto;
  color: #ffffff;
}

.contacto .contact-redes .contact-redes-icons h4 {
  font-size: 24px;
}

.contacto .contact-redes .contact-redes-icons span {
  font-size: 28px;
  padding: 5px 15px;
}

.contacto .contact-form {
  width: 500px;
  padding: 50px;
  text-align: center;
}

.contacto .contact-form h4 {
  text-align: center;
  font-size: 34px;
  color: #ffffff;
  font-weight: 600;
}

.contacto .contact-form .contact-container {
  position: relative;
  width: 400px;
  margin: 25px auto;
}

.contacto .contact-form .contact-container input {
  width: 100%;
  padding: 10px;
  border: 2px solid #009393;
  background-color: #016170;
  outline: none;
  border-radius: 4px;
  color: #ffffff;
  font-size: 16px;
}

.contacto .contact-form .contact-container input:valid ~ label, .contacto .contact-form .contact-container input:focus ~ label {
  color: #00e0c6;
  -webkit-transform: translateX(10px) translateY(-7px);
          transform: translateX(10px) translateY(-7px);
  padding: 0 10px;
  font-size: 12px;
  background-color: #016170;
  border-right: 2px solid #00e0c6;
  border-left: 2px solid #00e0c6;
  letter-spacing: 2px;
}

.contacto .contact-form .contact-container label {
  position: absolute;
  left: 0;
  padding: 10px;
  pointer-events: none;
  font-size: 16px;
  color: #009393;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

.contacto .contact-form .contact-container textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: 2px solid #009393;
  background-color: #016170;
  outline: none;
  border-radius: 4px;
  color: #ffffff;
  font-size: 16px;
  resize: none;
}

.contacto .contact-form .contact-container textarea::-webkit-input-placeholder {
  color: #009393;
}

.contacto .contact-form .contact-container textarea:-ms-input-placeholder {
  color: #009393;
}

.contacto .contact-form .contact-container textarea::-ms-input-placeholder {
  color: #009393;
}

.contacto .contact-form .contact-container textarea::placeholder {
  color: #009393;
}

.contacto .contact-form .form-boton {
  border: none;
  padding: 5px 15px;
  background-color: #016170;
  border: 1px solid #00e0c6;
  color: #00e0c6;
  font-size: 18px;
  font-weight: 600;
  width: 50%;
  border-radius: 4px;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

.contacto .contact-form .form-boton:hover {
  background-color: #00e0c6;
  color: #016170;
}

/* Registro de productos */
.registro__productos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.registro__productos .container {
  width: 70%;
  margin: 30px 20px;
  padding: 25px;
  background-color: #009393;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.registro__productos .container .container__producto, .registro__productos .container .container__id, .registro__productos .container .container__precio, .registro__productos .container .container__cantidad, .registro__productos .container .container__total {
  text-align: center;
}

.registro__productos .container .container__producto ul, .registro__productos .container .container__id ul, .registro__productos .container .container__precio ul, .registro__productos .container .container__cantidad ul, .registro__productos .container .container__total ul {
  list-style: none;
}

.registro__productos .container .container__producto ul li, .registro__productos .container .container__id ul li, .registro__productos .container .container__precio ul li, .registro__productos .container .container__cantidad ul li, .registro__productos .container .container__total ul li {
  font-weight: 600;
  border: none;
  color: #000;
  padding: 8px 0;
  border-bottom: 4px solid #ffffff;
  font-size: 17px;
}

.registro__productos .container .container__producto h4, .registro__productos .container .container__id h4, .registro__productos .container .container__precio h4, .registro__productos .container .container__cantidad h4, .registro__productos .container .container__total h4 {
  margin: 10px;
  border-bottom: 4px solid #ffffff;
  font-size: 21px;
  color: #ffffff;
}

.registro__productos .container .boton-cancelar {
  border: none;
  background-color: transparent;
  position: absolute;
  right: 0px;
  top: 0px;
}

.registro__productos .container .boton-cancelar i {
  color: #ffffff;
  padding: 10px 20px;
  font-size: 24px;
}

.registro__productos .container .boton-cancelar i:hover {
  color: #00e0c6;
}

.registro__productos .inicio-compra {
  width: 30%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: 30px 20px;
  padding: 15px 0;
  background: -webkit-gradient(linear, left top, right top, from(#009393), to(#00e0c6));
  background: linear-gradient(90deg, #009393 0%, #00e0c6 100%);
  color: #ffffff;
  text-align: center;
}

.registro__productos .inicio-compra h3 {
  width: 100%;
  padding: 5px;
  font-size: 28px;
  font-weight: 600;
}

.registro__productos .inicio-compra h5 {
  width: 100%;
  font-size: 22px;
  padding: 10px 15px;
  text-align: left;
}

.registro__productos .inicio-compra .inicio-boton__comprar {
  padding: 4px 14px;
  margin: 15px auto;
  border: 2px solid #016170;
  background-color: #016170;
  border-radius: 4px;
  font-size: 17px;
  font-weight: 600;
  color: #ffffff;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

.registro__productos .inicio-compra .inicio-boton__comprar:hover {
  color: #000;
  background-color: transparent;
}

/* FORMULARIO DE COMPRA */
.compra-registro {
  width: 80%;
  display: none;
  margin: 50px auto;
  padding: 30px 15px;
  background-color: #009393;
}

.compra-registro h3 {
  font-size: 28px;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
}

.compra-registro .form-compra {
  padding: 15px;
}

.compra-registro .form-compra .form-compra__container {
  margin: 10px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.compra-registro .form-compra .form-compra__container .input__container {
  width: 50%;
  text-align: center;
}

.compra-registro .form-compra .form-compra__container .input__container input {
  width: 90%;
  padding: 8px;
  background-color: #009393;
  border-radius: 4px;
  outline: none;
  border: 2px solid #016170;
  color: #ffffff;
  font-size: 17px;
  font-weight: 500;
}

.compra-registro .form-compra .form-compra__container .input__container input::-webkit-input-placeholder {
  color: #0008;
  font-size: 18px;
}

.compra-registro .form-compra .form-compra__container .input__container input:-ms-input-placeholder {
  color: #0008;
  font-size: 18px;
}

.compra-registro .form-compra .form-compra__container .input__container input::-ms-input-placeholder {
  color: #0008;
  font-size: 18px;
}

.compra-registro .form-compra .form-compra__container .input__container input::placeholder {
  color: #0008;
  font-size: 18px;
}

.compra-registro .form-compra .form-compra__container .input__container .input-boton__compra {
  background-color: #009393;
  width: 50%;
  border: 3px solid #00e0c6;
  border-radius: 0;
  color: #000;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

.compra-registro .form-compra .form-compra__container .input__container .input-boton__compra:hover {
  background-color: #00e0c6;
}

.registro__invisible {
  display: none;
}

.registro__visible {
  display: block;
}

.info-secundaria {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #016170;
}

.info-secundaria .info-secundaria__container {
  padding: 15px 25px;
}

.info-secundaria .info-secundaria__container span {
  font-size: 48px;
  color: #00e0c6;
}

.info-secundaria .info-secundaria__container h5 {
  font-size: 24px;
  font-weight: 600;
  color: #ffffff;
}

.info-secundaria .info-secundaria__container p {
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.info-secundaria .info-secundaria__container:nth-child(2) {
  border-right: 5px solid #00e0c6;
  border-left: 5px solid #00e0c6;
}

.pie__container {
  background-color: #016170;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 100px 20px 20px;
}

.pie__container .pie__ubicacion h6, .pie__container .pie__contacto h6, .pie__container .pie__redes h6 {
  font-size: 24px;
  color: #00e0c6;
  font-weight: 600;
  text-align: center;
}

.pie__container .pie__ubicacion ul, .pie__container .pie__contacto ul, .pie__container .pie__redes ul {
  list-style: none;
  font-size: 14px;
  color: #ffffff;
}

.pie__container .pie__ubicacion ul li, .pie__container .pie__contacto ul li, .pie__container .pie__redes ul li {
  line-height: 24px;
}

.pie__container .pie__redes li {
  display: inline-block;
  margin: 5px 15px;
}

.pie__container .pie__redes li i {
  font-size: 28px;
}
/*# sourceMappingURL=style.css.map */